.header-container{
  margin-left: 1px !important;
  border-bottom: 5px solid #0099CC !important;
}
.toc-tree-container{
    border-right: 1px solid #DDD;
    margin-top: 15px;
    padding: 10px 50px 50px 50px !important;
}
.toc-tree-header{
  margin-left: -15px !important;
}
.course-browser-container{
    margin: 10px !important;
}
.course-cards{
    margin-top: 10px !important;
}