<div class="ui grid header" ng-init="courses.getCurrentCourse();courses.getDraftCourse();">
    <div class="row container">
        <div class="one wide column">

        </div>
        <div class="ui ten wide column verticalLine">
            <div class="ui extra content padding-10">
                <div>
                    <span>
                        <i class="ui user circular huge icon"></i>
                        <span  class="ui right floated">User Name</span>
                    </span>
                </div>

                <!--<button class="ui right floated large primary button" type="button" name="Add" ng-click="addContent(content)">Add</button>-->
                <!--</div>-->
            </div>
            <div class="header-border"></div>
            <div class="ui padding-10">
                <span class="ui left floated">COURSES </span>
                <span >
                    <button class="ui right floated large primary button" type="button" ng-click="course.addCourse()">Add Course</button> 
                </span>
            </div>
            <div class="header-border"></div>
            <div ng-show="courses.currentCourseList.length > 0">
                <div class="ui padding-10">
                    <span class="ui left floated">CURRENT COURSE</span>
                </div>
                <div ng-repeat=" course in courses.currentCourseList track by $index">
                    <div class="header-border"></div>
                    <div class="ui grid row padding-10">
                        <div class="ui grid five wide column">
                            <div ng-if="course.appIcon" class="ui image cirular tiny">
                                <i><img ng-src="{{course.appIcon}}"></i>
                            </div>
                            <div ng-if="!course.appIcon" class="ui image cirular tiny">
                                <img src="images/logo.png">
                            </div>
                            <span>{{course.name}}</span>
                        </div>
                        <div class="ui grid seven wide column">
                            <span>{{course.contentType}} |
                                <span>{{course.language| arrayToString}}</span>
                                <span ng-if="course.concepts">| {{course.concepts}} </span>
                            </span>
                            <span class="ui large transparent floated right" ui-sref="courseShow({courseId : course.IL_UNIQUE_ID})">
                                <i class="write circular icon">
                                </i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-border"></div>
            <div ng-show="courses.draftCourseList.length > 0">
                <div class="ui padding-10">
                    <span class="ui left floated">DRAFT COURSES </span>
                </div>
                <div ng-repeat=" course in courses.draftCourseList track by $index">
                    <div class="header-border"></div>
                    <div class="ui grid row padding-10">
                        <div class="ui grid five wide column">
                            <div ng-if="course.appIcon" class="ui image cirular tiny">
                                <i><img ng-src="{{course.appIcon}}"></i>
                            </div>
                            <div ng-if="!course.appIcon" class="ui image cirular tiny">
                                <img src="images/logo.png">
                            </div>
                            <span>{{course.name}}</span>
                        </div>
                        <div class="ui grid seven wide column">
                            <span>{{course.contentType}} |
                                <span>{{course.language| arrayToString}}</span>
                                <span ng-if="course.concepts">| {{course.concepts}} </span>
                            </span>
                            <span class="ui large transparent floated right" ui-sref="courseShow({courseId : course.IL_UNIQUE_ID})">
                                <i class="write circular icon">
                                </i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-border"></div>
    </div>
    <div class="one wide column floated right verticalLine"></div>
</div>